



  <section id="mu-our-teacher">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-our-teacher-area">
            <!-- begain title -->
            <div class="mu-title">
              <h2>GIẢNG VIÊN</h2>
            <!-- end title -->
            <!-- begain our teacher content -->
                <div id="owl-demo">

      <div class="item"><%= image_tag "avatar.jpg" %></div>
      <div class="item"><%= image_tag "teacher-01.png" %></div>
      <div class="item"><%= image_tag "avatar.jpg" %></div>
      <div class="item"><%= image_tag "teacher-01.png" %></div>
      <div class="item"><%= image_tag "avatar.jpg" %></div>
      <div class="item"><%= image_tag "teacher-01.png" %></div>
      <div class="item"><%= image_tag "teacher-01.png" %></div>
      <div class="item"><%= image_tag "teacher-01.png" %></div>

    </div>
            <!-- End our teacher content -->
          </div>
        </div>
      </div>
    </div>
  </section>
