<!DOCTYPE html>
<html>
  <head>
    <title>THE WORLD CENTER</title>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript"> $(function ()

{ $("#myModal").modal({show:false }); </script>
  </head>
  <body>
    <!--START SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#">
      <i class="fa fa-angle-up">top</i>
    </a>
  <!-- END SCROLL TOP BUTTON -->
    <%= render "layouts/header" %>
    <%= render "layouts/menu" %>
    <%= render "layouts/slider" %>
    <%= render "staticpage/login_modal" %>
    <%= render "staticpage/sign_up_modal" %>
    <%= yield %>
    <%= render "layouts/service" %>
    <%= render "layouts/features" %>
    <%= render "layouts/course" %>
    <%= render "layouts/teacher" %>
    <%= render "layouts/testimonial" %>
    <%= render "layouts/footer" %>
  </body>
</html>
